@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  /* overflow-x: hidden; */

}
body{
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}
.specialhr{
  display: none;
  height: 0.3rem;
  width: 60%;
  margin-top: 0.4rem;
  border-radius: 50px;
  background-color: #555;
  @media (max-width: 950px) {
    display: block;
  }
}

.home{
    position: relative;
    top: 80px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* height: calc(100vh - 80px); */
    width: 100%;
    z-index: 1;

}
.image-cont{
  left: -25rem;
  @media (max-width: 500px) {
    left: -30rem;
  }
}

.home .homedata{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: center;
    width: 68%;
    top: 7rem;
    
    @media (max-width: 950px) {
      top: 5rem;
    }
    @media (max-width: 680px) {
      width: 80%;
    }
    @media (max-width: 610px) {
      width: 100%;
      padding: 0 2rem;
    }
}
.home .homedata .hometop{
    display: flex;
    
    flex-direction: row;
    
    
    @media (max-width: 950px) {
      flex-direction: column-reverse;
    }
}
.home .homedata .hometop .homeleft{
    /* position: relative; */
    /* display: flex;
    flex-direction: column; */
    width: 55%;
    top: 2rem;
    
    /* margin-right: 2rem; */
    @media (max-width:950px) {
      width: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 1rem;
    }
}
.home .homedata .hometop .homeleft .intro{
    font-size: 3.8rem;
    
    color: #444;
    cursor: pointer;
    @media (max-width: 680px) {
      font-size: 3.4rem;
      margin-top: 2rem;
      text-align: center;
    }
    @media (max-width: 610px) {
      font-size: 3rem;
      /* margin-top: 7rem; */
    }
    @media (max-width: 505px) {
      font-size: 2.6rem;
      /* margin-top: 10rem; */

    }
    @media (max-width: 450px) {
      font-size: 2.2rem;
    }
    @media (max-width: 400px) {
      font-size: 1.8rem;
    }
}
.home .homedata .hometop .homeleft .intro:hover{
    animation: rubberBand;
    animation-duration: 0.9s;
}
.home .homedata .hometop .homeleft p{
    margin-top: 1.5rem;
    font-size: 1.1rem;
    line-height: 22pt;
    cursor: pointer;
    letter-spacing: 0.01rem;
    color: #777;
    @media (max-width: 680px) {
      font-size: 1rem;
    }
    /* @media (max-width: 610px) {
      font-size: 0.8rem;
    }
    @media (max-width: 505px) {
      font-size: 0.7rem; */
      /* margin-top: 10rem; */
    /* } */
    /* @media (max-width: 450px) {
      font-size: 0.6rem;
    }
    @media (max-width: 400px) {
      font-size: 0.5rem;
    } */
}
.home .homedata .hometop .homeleft .social{
    margin-top: 1.5rem;
}
.home .homedata .hometop .homeleft .social a{
    font-size: 2.5rem;
    color: #444;
    margin-right: 0.5rem;
}

.home .homedata .hometop .homeright{
    display: flex;
    width: 45%;
    margin-left: 7rem;
    @media (max-width: 950px) {
      width: 100%;
      margin: 0;
      align-items: center;
      justify-content: center;
    }
}
.drop{
    /* position: relative; */
    width: 316.8px;
    height: 330px;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.1),
    25px 35px 20px rgba(0,0,0,0.1),
    25px 30px 30px rgba(0,0,0,0.1);
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: top;
    cursor: pointer;
    transition: 1s ease-in-out;
    animation: animate 5s linear infinite;
    @media (max-width: 680px) {
      width: 300px;
      height: 300px;
    }
    @media (max-width: 610px) {
      width: 280px;
      height: 280px;
    }
    @media (max-width: 505px) {
      width: 260px;
      height: 260px;
    }
    @media (max-width: 450px) {
      width: 240px;
      height: 240px;
    }
    @media (max-width: 400px) {
      width: 180px;
      height: 180px;
    }
}
  /* .drop:nth-child(1){
    border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
  } */
  
  @keyframes animate{
    0%,100%{
        border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
    }
    25%{
        border-radius: 50%;
    }
    50%{
        border-radius: 37% 63% 31% 69% / 53% 32% 68% 47%;
    }
    75%{
        border-radius: 50%;
    }
  }
  .drop:hover{
    border-radius: 50%;
    
  }
  
  #image{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: top;
    z-index: 1;
    
    /* overflow: hidden; */
  }
  #image img{
    height: 330px;
    width: 316.8px;
    /* border-radius: 57% 43% 43% 57% / 43% 44% 56% 57%; */
    animation: animate 5s linear infinite;
    @media (max-width: 680px) {
      width: 300px;
      height: 300px;
    }
    @media (max-width: 610px) {
      width: 280px;
      height: 280px;
    }
    @media (max-width: 505px) {
      width: 260px;
      height: 260px;
    }
    @media (max-width: 450px) {
      width: 240px;
      height: 240px;
    }
    @media (max-width: 400px) {
      width: 180px;
      height: 180px;
    }
  }
  
  @keyframes animate{
    0%,100%{
        border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
    }
    25%{
        border-radius: 50%;
    }
    50%{
        border-radius: 37% 63% 31% 69% / 53% 32% 68% 47%;
    }
    75%{
        border-radius: 50%;
    }
  }

  .home .homedata .homebottom{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin-top: 4rem;
    /* padding-top: 3rem; */
    margin-bottom: 7rem;
    @media (max-width: 950px) {
      flex-direction: column;
      justify-content: center;
    }
  }
  .home .homedata .homebottom .techstack{
    font-size: 1.2rem;
    font-weight: 500;
    color: #555;
    margin-right: 4rem;
    cursor: pointer;
    @media (max-width: 992px) {
      margin-right: 2.3rem;
    }
    @media (max-width: 950px) {
      margin-bottom: 2rem;
      text-align: center;
    }
    
  }
  .home .homedata .homebottom .techstack span{
    color: #555;
    @media (max-width: 950px) {
      display: none;
    }
  }
  .home .homedata .homebottom .stacks{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    @media (max-width: 610px) {
      flex-direction: column;
      justify-content: center;
      
    }
  }
  .home .homedata .homebottom .stacks .topstack{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .home .homedata .homebottom .stacks .bottomstack{
    display: flex;
    flex-direction: row;
    justify-content: center;
    @media (max-width: 610px) {
      margin-top: 1.5rem;
    }
  }
  .home .homedata .homebottom .stacks .topstack  div, .home .homedata .homebottom .stacks .bottomstack  div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    z-index: 1;
    /* border: 1px solid #111; */
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.75);
    @media (max-width: 680px) {
      width: 3rem;
      height: 3rem;
    }
  }
  .home .homedata .homebottom .stacks div img{
    height: 2rem;
    width: 2rem;
    @media (max-width: 680px) {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
  